* {
    color: #fff!important;
    font-size: 1rem;
}

h1 {
  margin: 1rem 0;
  font-family: serif;
}

p, a {
    font-size: 1.5rem;
}

body {
    background-color: #000;
    padding-top: 8rem;
}

.nav-bg {
    background-color: #000;
}

#selfie {
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 2rem;
}

.portfolio_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    gap: 1rem 1rem;
}

.portfolio_wrapper * {
    color: #000!important;
    font-size: 1rem;
}

.title {
    font-family: serif;
}

.card {
    background-color: #333;
    margin: 1rem;
}

.card img {
    height: 12rem;
}

.card-body {
    padding: .5rem;
}

#iam {
    letter-spacing: .15rem;
}

.image {
    display: flex;
    justify-content: center;
}

form * {
    display: block;
}

form input[type="text"], input[type="email"], textarea {
    width: 20rem;
}

input[type="submit"] {
    margin-top: 1rem;
    background-color: #000;
    border-radius: 5px;
}

label {
    margin-top: .25rem;
}

@media screen and (min-width: 600px) {

}