.wrapper {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.25);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Style sidebar links */
.sidebar a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.label {
  visibility: hidden;
  position: relative;
  top: -20px;
  opacity: 0;
  transition: transform .25s ease-in, opacity .25s ease-in;
}

.brand {
  font-size: 3rem !important;
  margin-right: 0;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
}

.menu {
  padding: 0;
}

.menu li {
  margin: 2rem 0;
  list-style-type: none;
}

.menu li a {
  height: 50px;
  transition: transform .25s ease-in;
}

.menu li a:hover {
  transform: translateY(-20px);
}

.menu li a:hover .label {
  visibility: visible;
  transform: translateY(30px);
  opacity: 1;
}