.navbar {
    background-image: url("/assets/images/starwarsBG.jpg");
    height: 5rem;
    justify-content: left;
}

.title{
    color: white;
    font-weight: 100;
    padding-top:.25rem;
}

.card {
    width: 8rem;
    margin: 2rem;
    color: black;
    
}

.card-body {
    padding: 0;
    font-size: .85rem;
}

.card-body p {
    margin-bottom: 0;
}

.card-img-top {
    width: 7.75rem;
    height: 5rem;
}

.hero {
    border: 2px solid lightgreen;
}

.villan {
    border: 2px solid red;
}

.charStats {
    font-size: 2rem;
    font-weight: 400;
}

body {
    background-image: url(/assets/images/stars.jpg);
    color: white;
}

.charSelect, .enemies {
    height: 12rem;
}

